.*el
config.el
.last-package-update-day
*secrets
.DS_Store
recentf*
abbrev*
auto-save*
init*
custom-settings*
projectile*
bookmarks
elpa
eshell
org-gcal
transient
smex*
/.lsp-session-v1
/amx-items
/personal_dictionary
/.org-id-locations
/var
